<!DOCTYPE html>
<html>
<head lang="en">

    <script src="Assets/jQuery/jquery-1.11.1.min.js"></script>
    <script src="Assets/angular/angular.js"></script>

    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
    <script src="Assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <script type="text/javascript" src="Controllers/TTTController.js"></script>
    <script type="text/javascript" src="Controllers/C4Controller.js"></script>
    <script type="text/javascript" src="Controllers/MController.js"></script>

    <link rel="stylesheet" type="text/css" href="Assets/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="style.css"/>

    <title>EyePlay</title>
</head>
<body ng-app="EyePlay" ng-controller="main">
<div id="topPanel" class="panel panel-default">
    <div class="panel-body">
        <div id="title" class="col-xs-3">EyePlay</div>
        <div id="games" class="col-xs-8">
            <div class="col-xs-4 gameChoice" ng-click="setGame('ttt.html')"><div>TicTacToe</div></div>
            <div class="col-xs-4 gameChoice" ng-click="setGame('c4.html')"><div>Connect 4</div></div>
            <div class="col-xs-4 gameChoice" ng-click="setGame('mine.html')"><div>Minesweeper</div></div>
        </div>
        <div id="about" class="col-xs-1"><span class="glyphicon glyphicon-info-sign" ng-click="open();"></span></div>
    </div>

</div>

<div class="gameContainer">
    <div data-ng-include=game></div>
</div>

</body>
</html>