<div ng-controller="TTTController">
    <h2 ng-show="!winner" class="center">{{player}}'s turn
    </h2>
    <div ng-show="winner" class="center"><button class="btn btn-info" ng-click="newGame()">New Game</button></h3>
    </div>
    <div class="center">
        <div id="wins">
            <div>O: {{oWins}}<br/>X: {{xWins}}</div>
        </div>

        <table id="ttt" border="1">
            <tr ng-repeat="row in [0,1,2]">
                <td ng-repeat="column in [0,1,2]" ng-click="cellClick(row,column)" ng-class="cellClass(row,column)">
                    {{cellText(row,column)}}
                </td>
            </tr>
        </table>
    </div>
</div>