<div ng-controller="TTTController">

    <div ng-show="winner" class="center">
        <button class="btn btn-info" ng-click="newGame()">New Game</button>

    </div>
    <div class="center">


        <table id="ttt" border="1">
            <tbody><tr ng-repeat="row in [0,1,2]">
                <td ng-repeat="column in [0,1,2]" ng-click="cellClick(row,column)" ng-class="cellClass(row,column)">
                    {{cellText(row,column)}}
                </td>
            </tr>
            </tbody></table>
        <h2 ng-show="!winner" class="center">You are O
        </h2>

        <div id="wins">
            <div>O: {{oWins}}<br>X: {{xWins}}</div>
        </div>
    </div>
</div>